@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('/custom/fonts/raleway.woff2') format('woff2');
  }
  
    :root {
        --rosewater: #f5e0dc;
        --flamingo: #f2cdcd;
        --pink: #f5c2e7;
        --mauve: #cba6f7;
        --red: #f38ba8;
        --maroon: #eba0ac;
        --peach: #fab387;
        --yellow: #f9e2af;
        --green: #a6e3a1;
        --teal: #94e2d5;
        --sky: #89dceb;
        --sapphire: #74c7ec;
        --blue: #89b4fa;;
        --lavender: #b4befe;
        --text: #cdd6f4;
        --subtext1: #bac2de;
        --subtext0: #a6adc8;
        --overlay2: #9399b2;
        --overlay0: #6c7086;
        --surface2: #585b70;
        --surface1: #45475a;
        --surface0: #313244;
        --base: #1e1e2e;
        --mantle: #181825;
        --crust: #11111b;
    }


  :root {
      --main-font-family: 'Raleway' !important;
      --main-font-size: normal;
      --tree-font-family: inherit;
      --tree-font-size: normal;
      --detail-font-family: inherit;
      --detail-font-size: normal;
      --detail-text-font-family: 'Garamond' !important;
  
      --main-background-color: var(--base);
      --main-text-color: var(--text);
      --main-border-color: var(--overlay0);
      --accented-background-color: var(--mantle);
      --more-accented-background-color: var(--crust);
      --header-background-color: var(--mantle);
      --button-background-color: var(--mantle);
      --button-disabled-background-color: var(--surface0);
      --button-border-color: var(--overlay0);
      --button-text-color: var(--subtext0);
      --button-border-radius: 2px;
      --primary-button-background-color: var(--overlay0);
      --primary-button-text-color: var(--text);
      --primary-button-border-color: var(--overlay2);
      --muted-text-color: var(--subtext1);
      --input-text-color: var(--text);
      --input-background-color: var(--surface0);
      --hover-item-text-color: var(--text);
      --hover-item-background-color: var(--surface2);
      --active-item-text-color: var(--text);
      --active-item-background-color: var(--blue);
      --menu-text-color: var(--text);
      --menu-background-color: var(--surface0);
      --tooltip-background-color: var(--overlay2);
      --link-color: var(--blue);
      --modal-background-color: var(--surface0);
      --modal-backdrop-color: var(--crust);
      --scrollbar-border-color: rgba(175, 184, 198, 0.5);
      
      --left-pane-background-color: var(--surface0);
      --left-pane-text-color: var(--text);
      --launcher-pane-background-color: var(--crust);
      --launcher-pane-text-color: var(--text);
      --launcher-pane-hover-color: var(--surface2);
      
      --inactive-tab-text-color: var(--subtext0);
      --inactive-tab-background-color: var(--surface0);
      --inactive-tab-hover-background-color: var(--surface1);
      --active-tab-text-color: var(--text);
      --active-tab-background-color: var(--surface1);
      --active-tab-hover-background-color: var(--surface2);
  }
  
  body .note-detail-text {
      font-size: 120%;
  }
  
  body .CodeMirror {
      filter: invert(100%) hue-rotate(180deg);
  }

  .CodeMirror-linenumber {
      color: var(--subtext0);
  }